/* .show-container > .rs-container {
  margin-bottom: 40px;
}

.show-container > .rs-header,
.show-container > .rs-content,
.show-container > .rs-footer,
.show-container > .rs-sidebar {
  background-color: #3498ff;
  color: #fff;
  text-align: center;
}

.rs-header,
.rs-footer {
  line-height: 56px;
  background-color: #59afff;
}
.rs-content {
  line-height: 120px;
  background-color: #80ddff;
}
.rs-sidebar {
  line-height: 120px;
} */

.show-container > .rs-container {
  margin-bottom: 40px;
}
.rs-header,
.rs-content,
.rs-footer,
.rs-sidebar {
  /* background-color: pink; */
  /* color: #fff; */
  text-align: center;
  color: #000;
  position: relative;
}

.rs-content {
  line-height: 120px;
  /* background-color: plum; */
}
.rs-sidebar {
  line-height: 120px;
}

.show-fake-browser {
  border: 1px solid #e5e5ea;
  box-shadow: 0 0.1em 0.5em 0 rgba(0, 0, 0, 0.28);
  border-radius: 4px;
  background-color: #f7f7fa;
}
